<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="dist/output.css">
    <title>Document</title>
</head>

<body>
    <%- include('adminpartials/navbar') %>
        <div class="min-h-screen flex items-center justify-center">
            <div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
                <div class="flex justify-center mb-8">
                    <h1 class="w-30 h-20 font-bold">V A S T R A</h1>
                </div>
                <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Edit Coupon</h1>
                <form  action="/couponedit/<%= coupondata._id %>" method="post" >
                    <div class="mb-4">
                        <label for="Name" class="block mb-2 text-sm text-gray-600">Name</label>
                        <input type="text" id="Name" name="name" value="<%= coupondata.name %>"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                            >
                    </div>
                    <div class="mb-4">
                        <label for="Code" class="block mb-2 text-sm text-gray-600">Code</label>
                        <input type="text" id="Code" name="code" value="<%= coupondata.code %>"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                            >
                    </div>
                    <div class="mb-4">
                        <label for="Discount" class="block mb-2 text-sm text-gray-600">Discount</label>
                        <input type="number" id="Discount" name="discount" value="<%= coupondata.discount %>"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                            >
                    </div>
                    <div class="mb-6">
                        <label for="Expiry" class="block mb-2 text-sm text-gray-600">Expiry</label>
                        <input type="date" id="Expiry" name="expiryDate" value="<%= coupondata.expiryDate %>"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500"
                            >
                    </div>
                    <span class="ml-5 mb-3 font-bold text-red-600"> <%= message %></span>
                    <button type="submit"
                        class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2">Submit</button>
                </form>
            </div>
        </div>
</body>

</html>